/* *{
     font-family: 'Langar', cursive;
} */
.shell{
    width: 500px;
    height: 430px;
    background: linear-gradient(#bdf4fc, #429bf5);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
.title{
    font-size: 30px;
    margin-bottom: 20px;
}
.foot{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}